.promotionPane {
    -fx-background-color: white;
}

.whiteQueen {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/white-queen.png");
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.whiteRook {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/white-rook.png");
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.whiteBishop {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/white-bishop.png");
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.whiteKnight {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/white-knight.png");
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}